@import "../root.scss";
@import "./style/articles";
@import "./style/hero";
@import "./style/why";

section {
    text-align: center;

    p {
        color: darken($light-grayish-blue, 40);
        font-size: .95em;
        line-height: 2em;
        padding: 0 2rem;
        margin-bottom: 3em;
    }
}

h1, h2, h3 {
    color: $dark-blue;
    line-height: 1.25em;
    margin: 0.75em 0;
}
