

section.articles {
    background: $very-light-gray;
    padding: 5rem 0;
    display: flex;
    flex-flow: nowrap column;
}

h1.lead-articles {
    font-size: 2em;
    margin: 0;
    width: 100%;
}

article.featured-article {
    background: $white;
    -webkit-border-radius: .35em;
    -moz-border-radius: .35em;
    border-radius: .35em;
    margin: 1em 1.5em;
    text-align: left;
}

aside.article-hero img {
    margin: 0 auto;
    display: block;
    -webkit-border-top-left-radius:.35em;
    -webkit-border-top-right-radius: .35em;
    -moz-border-radius-topleft: .35em;
    -moz-border-radius-topright: .35em;
    border-top-left-radius: .35em;
    border-top-right-radius: .35em;
}

aside.article-content {
    padding: 2rem;

    p {
        padding: 0;
        font-size: .75em;
        line-height: 1.75em;
    }

    span.author {
        color: $grayish-blue;
        font-size: .5em;
    }

    h2 {
        color: $black;
        font-size: .97em;
        @extend %transitions;
    }

    h2:hover {
        color: $bright-cyan;
    }
}