
section.why {
    background: $light-grayish-blue;

    main.container {
        padding: 5rem 0;
        display: flex;
        flex-flow: nowrap column;
        
        @media(min-width: $breakpoint-desktop) {
            flex-flow:  wrap row;
            text-align: left;
            width: 80%;
            margin: 0 auto;
            padding-left: 5rem;
        }
    }
}



aside.why-main {
    width: 100%;

    @media(min-width: $breakpoint-desktop) { 
        p {
            padding: 0;
            width: 50%;
            font-size: 110%;
            line-height: 1.50em;
        }       
    }

    h2.why-lead {
        font-size: 1.85em;

        @media(min-width: $breakpoint-desktop) {
            font-size: 2.25em;
            font-weight: 300;
        }
    }
}

aside.why-cards {
    width: 100%;

    @media(min-width: $breakpoint-desktop) {
        width: 23%;
        margin-right: 2%;

        p {
            margin: 0;
            padding: 0;
        }

    }

    h3.why-title {
        font-size: 1.40em;
    }
} 
    

span.choose-icons {
    display: block;
    width: 5em;
    height: 5em;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;

    @media(min-width: $breakpoint-desktop) {
        background-position: center left;
        margin: 0;
    }
}

.online-banking {
    background: url("../images/icons/icon-online.svg");
}

.simple-budgeting {
    background: url("../images/icons/icon-budgeting.svg");
}

.fast-onboarding {
    background: url("../images/icons/icon-onboarding.svg");
}

.open-api {
    background: url("../images/icons/icon-api.svg");
}