@import "./style/reset.scss";
@import "./style/variables";

body, html {
    background: $white;
}


div#root {
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

.attribution {
    width: 100%;
    font-size: 65%;
    text-align: center;
    padding: 1rem .5em;
    background: $dark-blue;
    color: $grayish-blue;

    @media (min-width: $breakpoint-desktop) {
        padding: 1rem;
        font-size: 75%;
        text-align: left;
    }

    p {
        width: 100%;
        @media (min-width: $breakpoint-desktop) {
            margin: 0 auto;
            width: 80%;
        }
    }
}

a {
    @extend %transitions;
}

.gradient-btn {
    @extend %gradient-bg;
    @extend %transitions;
    padding: .75rem;
    width: 10em;
    margin: 0 auto;
    color: $white;
    border-radius: 1.5em;
    font-weight: 400;
}

.gradient-btn:hover {
    transform: scale(1.15);
}