@import "./style/reset.scss";
@import "./style/variables";


div#root {
    width: 75%;
    margin: 0 auto;
    // border: 1px solid gold;

    @media (min-width: $breakpoint-desktop) {
        width: 100%;
    }
}

.attribution {
    width: 75%;
    margin: 0 auto;
    // border: 1px solid gold;
}

a {
    @extend %transitions;
}

.gradient-btn {
    @extend %gradient-bg;
    @extend %transitions;
    padding: .75rem;
    width: 10em;
    margin: 0 auto;
    color: $white;
    border-radius: 1.5em;
    font-weight: 400;
}

.gradient-btn:hover {
    transform: scale(1.15);
}