@import "../layout";

footer {
    background: $dark-blue;
    color: $grayish-blue;
    text-align: center;
    padding: 2rem;

    @media(min-width: $breakpoint-desktop) {
        padding: 4rem 0;
        text-align: left;
    }

    main.container {
        display: flex;
        flex-flow: nowrap column;
        width: 100%;


        @media(min-width: $breakpoint-desktop) {
            flex-flow: wrap row;
            justify-content: flex-start;
            width: 80%;
            margin: 0 auto;
            }

        aside.social-medias, ul.site-map, aside.book-end {
            flex-basis: 23%;
            margin: 0 1%;
        }
    }

    a {
        color: $white;
    }

    a:hover {
        color: $bright-cyan;
    }


    aside.book-end {
        
        @media(min-width: $breakpoint-desktop) {
            text-align: right;
            display: flex;
            flex-flow: nowrap column;
            justify-content: space-between;
            flex-grow: 1;
        }

        button.gradient-btn {
            margin: 1.5em auto;

            @media(min-width: $breakpoint-desktop) {
                margin: 0;
                align-self: flex-end;
            }
        }
    
        p.copyright {
            font-size: .85em;
        }
    }

    aside.social-medias {    
    @media(min-width: $breakpoint-desktop) {
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-between;
        }
    }

}

span.socials {
    margin: 2em 0;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;

    @media(min-width: $breakpoint-desktop) {
        justify-content: flex-start;
        margin: 0;
        }
     

    a {
        margin: 0 .5em;
    }

    a:hover img {
        filter: invert(1);
        @extend %transitions;
    
    }
}

span.logo {
    background: url("./images/logo.svg")center center no-repeat;
    filter: invert(1);
    width: 100%;
    height: 1.25rem;
    display: block;

    @media(min-width: $breakpoint-desktop) {
        background-position: left center;
    }
}

ul.site-map {
    display: flex;
    flex-flow: nowrap column;

    li {
        padding-bottom: 1rem;
        font-size: .85em;
    }

    @media(min-width: $breakpoint-desktop) {
        font-size: 110%;
        flex-flow: wrap row;
        justify-content: space-between;

        li {
            flex-basis: 50%;
            text-align: left;
        }

        li:nth-child(even) {
            text-align: right;
        }
    }
}