@import "../layout";

nav {
    display: flex;
    flex-flow: nowrap column;
}

nav .logo-link {
    background: $very-light-gray;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 1.25rem;
}

span.bank-logo {
    background: url("./images/logo.svg")left center no-repeat;
    width: 50%;
    height: 1.25rem;
}

span.open-x {
    background: url("./images/icon-hamburger.svg")right center no-repeat;
    width: 50%;
    height: 1.25rem;
    display: initial;
    
    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

span.close-x {
    background: url("./images/icon-close.svg")right center no-repeat;
    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

a.nav-link {
    background: $very-light-gray;
    color: $dark-blue;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    margin: 0 2em;
    display: none;
}


a.nav-link:first-of-type {
    margin-top: 2em;
    border-radius: .5em .5em 0 0;
}

a.nav-link:last-of-type {
    margin-bottom: 2em;
    border-radius: 0 0 .5em .5em;
}

a.nav-link:hover {
    background: darken($very-light-gray, 10);
}


.nav-btn {
    display: none;
}

nav .active {
    display: block;
}
