@import "../layout";

header {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;


    @media (min-width: $breakpoint-desktop) {
        flex-flow: nowrap row;
        justify-content: space-between;
        background:  $white;
        max-width: 70%;
        margin: 0 auto;
    }

    button.gradient-btn {
        margin: 1em 0;
        transform: scale(.80);
        display: none;

        @media (min-width: $breakpoint-desktop) {
            display: initial;
        }
    }

    button.gradient-btn:hover {
        margin: 1em 0;
        transform: scale(.90);
    }
}

nav {
    position: relative;
    display: none;

    @media (min-width: $breakpoint-desktop) {
        position: static;
        display: block;
    }

    .wrap {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0) 7%, rgba(0,0,0,1) 100%);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: nowrap column;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @media (min-width: $breakpoint-desktop) {
            position: static;
            flex-flow: nowrap row;
            height: auto;
            background:  $white;
        }
    }

}

.active {
    display: block;
 }

header button.logo-link {
    width: 100%;
    background: $very-light-gray;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 1.25rem;

    @media (min-width: $breakpoint-desktop) {
        width: initial;
        background: $white;
        display: block;
        padding: 0;
    }

}

span.bank-logo {
    background: url("./images/logo.svg")left center no-repeat;
    width: 50%;
    height: 1.25rem;

    @media (min-width: $breakpoint-desktop) {
        width: 10rem;
        display: block;
    }
}

span.open-x {
    background: url("./images/icon-hamburger.svg")right center no-repeat;
    width: 50%;
    height: 1.25rem;
    display: initial;
    
    @media (min-width: $breakpoint-desktop) {
        display: none;
        width: 0;
        height: 0;
    }
}

span.close-x {
    background: url("./images/icon-close.svg")right center no-repeat;
    
    @media (min-width: $breakpoint-desktop) {
        display: none;
        width: 0;
        height: 0;
    }
}

a.nav-link {
    background: $very-light-gray;
    color: $dark-blue;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    margin: 0 2em;


    @media (min-width: $breakpoint-desktop) {
        background: $white;
        color: $grayish-blue;
        margin: 0;
        padding: 2rem 1rem;
        font-size: .9em;
        display: block;
    }
}


a.nav-link:first-of-type {
    margin-top: 2em;
    border-radius: .5em .5em 0 0;

    @media (min-width: $breakpoint-desktop) {
        margin-top: 0;
        border-radius: 0;
    }
}

a.nav-link:last-of-type {
    margin-bottom: 2em;
    border-radius: 0 0 .5em .5em;

    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 0;
        border-radius: 0;
    }
}

a.nav-link:hover {
    background: darken($very-light-gray, 10);

    @media (min-width: $breakpoint-desktop) {
        background: $very-light-gray;
        color: $bright-cyan;
    }
}

