@import "./variables";

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: $public-sans;
    font-weight: 300;
    font-size: 105%;
    line-height: 1.50;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $bright-cyan;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}